body {
	background: #347821;
	margin: 0;
	padding: 0;
	font-family: Lucida Grande, Lucida Sans, Arial;
	font-size: 0.8em;
	color: #276534
}

/***************************************************** Barra de men� ***********************************************************/

.menuBar {
	width: 960px;
	height: 27px;
	margin: 0 auto;
	padding: 0;
	font-family: Lucida Grande, Lucida Sans, Arial;
	font-size: 0.8em;	
	background: #666666;
}

.menuBar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menuBar ul li {
	float: left;
	margin: 0;
	padding: 0;
	background: transparent url(img/menu_bar_button.png) top left no-repeat;
}

.menuBar li a {
	display: block;
	height: 27px;
	padding-left: 29px;
	float: left;
	color: #C3C3C3;
	text-decoration : none;
}

.menuBar ul li a span.menu_button_text {
	display: block;
	float: left;
	height: 22px;
	padding-top: 5px;
	padding-right: 29px;
	background: transparent url(img/menu_bar_button.png) top right no-repeat;
	cursor: pointer;
}

.menuBar ul li a:hover{
	background: transparent url(img/menu_bar_button_high.png) top left no-repeat;
	color: #FFFFFF;
}

.menuBar li a:hover span.menu_button_text{
	display: block;
	float: left;
	height: 22px;
	padding-top: 5px;
	padding-right: 29px;
	background: transparent url(img/menu_bar_button_high.png) top right no-repeat;
	color: #FFFFFF;
}
.menuBar ul li.highlight a {
	background: transparent url(img/menu_bar_button_selected.png) top left no-repeat;
	color: #FFFFFF;
}
.menuBar li.highlight a span.menu_button_text {
	background: transparent url(img/menu_bar_button_selected.png) top right no-repeat;
	color: #FFFFFF;
}


/********************************************** Barra de usuario en sesi�n **************************************************/

.sessionBar {
	clear: both;
	width: 960px;
	height: 27px;
	margin: 0 auto;
	padding: 0;
	font-family: Lucida Grande, Lucida Sans, Arial;
	font-size: 0.7em;	
	background: #FFFFFF;
}

#systemName{
	float : left;
	margin-left: 10px;
	margin-top : 7px;
	font-family: Lucida Grande, Lucida Sans, Arial;
	font-size: 1.2em;
}

#systemIcon{
	float : left;
	margin-left: 10px;
	margin-top : 5px;
	width:16x;
	height:16px;
}

#sessionUser{
	float : right;
	margin-right: 10px;
	margin-top : 7px;
	font-family: Lucida Grande, Lucida Sans, Arial;
	font-size: 1.2em;
}

#logoutButton{
	float : right;
	margin-right: 20px;
	margin-top : 5px;
	width:16x;
	height:16px;
	cursor: pointer;
}
 .sessionBar .login{
 	float : right;
 	margin-top : 5px;
 	margin-right : 28px; 
 }

 .sessionBar .login input{
 	height : 18px;
 	width : 160px;
 	font-family: Lucida Grande, Lucida Sans, Arial;
	font-size: 1.2em;	
 }


/*************************************************Contenedor principal*******************************************************/

.container {
	width: 960px;
	height: 768px;
	background: #EBEBE4;
	margin: 0 auto;
	border-style:solid;
	border-width:1px;
	border-color: #BFBFBF;
}

/*-------------------------------Div de inicio de sesi�n-----------------------------------*/
.divLogin{
	background: #FFFFFF;
	width : 400px;
	height : 260px;
	margin: 0 auto;
	margin-top : 128px;
	margin-bottom : 30px;
	padding-top: 40px;
	border-style:solid;
	border-width:1px;
	border-color: #BFBFBF;
}

.inputFieldLabelL{
	height: 20px;
	width : 128px;
	float : left;
	margin-top : 20px;
	margin-botom : 20px;
	margin-left : 28px;	
	font-size: 1em;	
}
.divLogin .inputFieldL,.inputFieldLAC, .inputFieldLPSW{
	height: 20px;
	float:right;
	width : 192px;
	padding : 0px;
	margin-top : 20px;
	margin-right : 28px;
	font-family: Lucida Grande, Lucida Sans, Arial;
	font-size: 1em;	
}

.divLogin .loginButtons{
	clear : both;
	margin: 0 auto;
	margin-top: 20px;
	width : 400px;
	text-align : center;
}

.divLogin input[type="button"]{
	margin-left : 10px;
	margin-bottom : 20px;
	margin-top : 0px;
	width : 120px;
	font-family: Lucida Grande, Lucida Sans, Arial;
	font-size: 1em;	
}

#sessionMsg{	
	clear: both;
	text-align : center;
	margin-top : 90px;
	height : 20px;
	width : 400px;	
	color : red;
}


/*---------------------Div de manipulaci�n de registros-----------------------------------*/
.divActions{
	background: #FFFFFF;
	width : 576px;
	margin: 0 auto;
	margin-bottom : 20px;
	border-style:solid;
	border-width:1px;
	border-color: #BFBFBF;
}
.divCRUDRecords span{
	float : left;
	margin-top : 20px;
	margin-botom : 20px;
	margin-left : 96px;	
	height : 22px;
}

.divActions input[type="text"]{
	float:right;
	width : 256px;
	height : 22px;
	margin-top : 20px;
	margin-right : 96px;
	font-family: Lucida Grande, Lucida Sans, Arial;
	font-size: 1em;	
}

.divCRUDButtons{
	margin-top : 50px;
	clear : both;
	text-align : center;
}

.divActions button{
	clear : both;
	margin-left : 10px;
	margin-bottom : 20px;
	width : 120px;
	font-size: 0.9em;	
}

/* nilson */
.selectList{
	float:right;
	width : 256px;
	margin-top : 20px;
	margin-right : 96px;
	font-family: Lucida Grande, Lucida Sans, Arial;
	font-size: 1em;	
}

/*
.divDataForm textArea{
	float:right;
	width : 256px;
	margin-top : 20px;
	margin-right : 96px;
	font-family: Lucida Grande, Lucida Sans, Arial;
	font-size: 1em;
	resize: none;
}
*/

/*-------------------------------Div de mensaje informativo------------------------------*/
#msgBox{
	display:none;
}

#msgBox p{
	margin-bottom: 2px;
	margin-top: 2px;
}


.msgBoxInfo{
	width: 556px;
	height : auto;
	background: #C6D8F0;
	margin : 0 auto;
	margin-bottom: 20px;
	padding:10px;
	border-style:solid;
	border-width:1px;
	border-color: #548BD4;
	color: #548BD4;
	font-size: 1em;	
}

.msgBoxSucces{
	width: 556px;
	height : auto;
	background: #B9D3B5;
	margin : 0 auto;
	margin-bottom: 20px;
	padding:10px;
	border-style:solid;
	border-width:1px;
	border-color: #288A26;
	color: #288A26;
	font-size: 1em;	
}

.msgBoxError{
	width: 556px;
	height : auto;
	background: #E2C1BE;
	margin : 0 auto;
	margin-bottom: 20px;
	padding:10px;
	border-style:solid;
	border-width:1px;
	border-color: #C00000;
	color: #C00000;
	font-size: 1em;	
}



/*-------------------------------Div de  de ingreso de datos-----------------------------*/

.divDataForm{
	background: #FFFFFF;
	width : 576px;
	height : 320px;
	margin: 0 auto;
	padding-left : 0px;
	padding-right : 0px;
	border-style:solid;
	border-width:1px;
	border-color: #BFBFBF;
}

.divDataForm .inputFieldLabel, .requiredFieldLabel{
	float : left;
	height : 20px;
	margin-top : 20px;
	margin-left : 96px;
	margin-botom : 20px;
}

.requiredFieldLabel{
	font-weight:bold;
	text-decoration:underline;
}

.divDataForm .inputField, .inputFieldAC, .inputFieldFile, .jqcalendario{
	height : 20px;
	float:right;
	width : 256px;
	margin-top : 20px;
	margin-right : 96px;
	font-family: Lucida Grande, Lucida Sans, Arial;
	font-size: 1em;
}

.divDataForm  .inputFieldPSW{
	height : 20px;
	float:right;
	width : 256px;
	margin-top : 20px;
	margin-right : 96px;
	font-family: Lucida Grande, Lucida Sans, Arial;
	font-size: 1em;	
}


.divDataForm .inputFieldTA{
	float:right;
	width : 256px;
	margin-right : 96px;
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: Lucida Grande, Lucida Sans, Arial;
	font-size: 1em;	
	resize : none;
}

.divDataForm .inputCHK{
	height : 20px;
	float:right;
	width : 256px;
	margin-top : 20px;
	margin-right : 160px;
	font-family: Lucida Grande, Lucida Sans, Arial;
	font-size: 1em;	
}

.divDataForm select{
	float:right;
	width : 100px;
	margin-right : 252px;
	margin-bottom: 1px;
	margin-top: 20px;
	font-family: Lucida Grande, Lucida Sans, Arial;
	font-size: 1em;	
	resize : none;
}

.divDataForm .span{
	display: inline;
	color: blue;
	height : 20px;
	float:right;
	width : 256px;
	margin-top : 10px;
	margin-right : 96px;
}
		
.divDataForm .correct{
	color: green;
	height : 20px;
	float:right;
	width : 256px;
	margin-top : 10px;
	margin-right : 96px;
}

.divDataForm .span{
	display: inline;
	color: blue;
	height : 20px;
	float:right;
	width : 256px;
	margin-top : 10px;
	margin-right : 96px;
}
		
.divDataForm .correct{
	color: green;
	height : 20px;
	float:right;
	width : 256px;
	margin-top : 10px;
	margin-right : 96px;
}

.divDataForm .incorrect{
	color: red;
	height : 20px;
	float:right;
	width : 256px;
	margin-top : 10px;
	margin-right : 96px;
}
.divDataForm .incorrect{
	color: red;
	height : 20px;
	float:right;
	width : 256px;
	margin-top : 10px;
	margin-right : 96px;
}

.divUploadButton, .divAddButton {
	margin-top: 30px;
	clear : both;
	text-align: center;
}

.divUploadButton span{
	float : none;
	margin-top : auto;
	margin-left : auto;
	margin-botom : auto;
}

.divDateCombo{
	float:right;
	margin-right : 96px;
	margin-top: 20px;
	background: #F7F7F7;
	width : 256px;
	height : 100px;
	border-style:solid;
	border-width:1px;
	border-color: #BFBFBF;
}

.divDateCombo span{
	float : left;
	height : 20px;
	width : 48px;
	margin-top : 20px;
	margin-left : 20px;
	margin-botom : 10px;	
}

.divDateCombo input[type="text"]{
	height : 20px;
	float:right;
	width : 128px;
	margin-top : 20px;
	margin-right : 20px;
	font-family: Lucida Grande, Lucida Sans, Arial;
	font-size: 1em;	
}

/************************************** jQuery ******************************************/

.ui-widget {
    font-family: Lucida Grande, Lucida Sans, Arial;
    font-size: 0.9em;
}

.ui-autocomplete {
	 max-height: 128px;
	 overflow-y: scroll;
	 overflow-x: hidden; 
	 font-size: 1em;	
}

#tabs{ 
	background: #FFFFFF;
	width : 576px;
	height : 320px;
	margin: 0 auto;
	border-style:solid;
	border-width:1px;
	border-color: #BFBFBF;
	font-size: 1em;	
}

/*----------------------Grids -----------------------------*/
.ui-jqgrid-labels{
	font-size: 0.8em;	
}
.ui-jqgrid td{
	font-size:0.8em;
}
.gridView{
	clear:both;
	margin: 0 auto;
	margin-top : 30px;
}

/*********************************************************************************/
#dialog{
	background: #EBEBE4;
	width : 500px;
	height : 320px;
	margin: 0 auto;
	display : none;
}

#titulo{
	width: 450px;
}
#descripcion{
	width: 450px;
}

/*---------------------- MARVIN css ---------------------*/

.divContratoButtons button{
	clear : both;
	margin-left : 10px;
	margin-bottom : 20px;
	width : 120px;
	font-size: 0.9em;	
}

.divDataForm  .inputFieldNUM{
	height : 20px;
	float:left;
	width : 50px;
	margin-top : 20px;
	margin-left : 10px;
	font-family: Lucida Grande, Lucida Sans, Arial;
	font-size: 1em;	
}
