body {
	background: #347821;
	margin: 0;
	padding: 0;
	font-family: Lucida Grande, Lucida Sans, Arial;
	font-size: 0.7em;
	color: #000
}

/***************************************************** Barra de menú ***********************************************************/

.menuBar {
	width: 960px;
	height: 27px;
	margin: 0 auto;
	padding: 0;
	font-family: Lucida Grande, Lucida Sans, Arial;
	font-size: 1em;	
	background: #666666;
}

.menuBar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menuBar ul li {
	float: left;
	margin: 0;
	padding: 0;
	background: transparent url(img/menu_bar_button.png) top left no-repeat;
}

.menuBar li a {
	display: block;
	height: 27px;
	padding-left: 55px;
	float: left;
	color: #C3C3C3;
	text-decoration : none;
}

.menuBar ul li a span.menu_button_text {
	display: block;
	float: left;
	height: 22px;
	padding-top: 5px;
	padding-right: 55px;
	background: transparent url(img/menu_bar_button.png) top right no-repeat;
	cursor: pointer;
}

.menuBar ul li a:hover{
	background: transparent url(img/menu_bar_button_high.png) top left no-repeat;
	color: #FFFFFF;
}

.menuBar li a:hover span.menu_button_text{
	display: block;
	float: left;
	height: 22px;
	padding-top: 5px;
	padding-right: 55px;
	background: transparent url(img/menu_bar_button_high.png) top right no-repeat;
	color: #FFFFFF;
}
.menuBar ul li.highlight a {
	background: transparent url(img/menu_bar_button_selected.png) top left no-repeat;
	color: #FFFFFF;
}
.menuBar li.highlight a span.menu_button_text {
	background: transparent url(img/menu_bar_button_selected.png) top right no-repeat;
	color: #FFFFFF;
}


/********************************************** Barra de usuario en sesión **************************************************/

.sessionBar {
	width: 960px;
	height: 27px;
	margin: 0 auto;
	padding: 0;
	font-family: Lucida Grande, Lucida Sans, Arial;
	font-size: 0.7em;	
	background: #FFFFFF;
}
 .sessionBar .login{
 	float : right;
 	margin-top : 5px;
 	margin-right : 32px; 
 }

 .sessionBar .login input{
 	height : 18px;
 	width : 160px;
 	font-family: Lucida Grande, Lucida Sans, Arial;
	font-size: 1.2em;	
 }


/*************************************************Contenedor principal*******************************************************/

.container {
	width: 960px;
	height: 768px;
	background: #EBEBE4;
	margin: 0 auto;
	border-style:solid;
	border-width:1px;
	border-color: #BFBFBF;
}

/*-------------------------------Div de inicio de sesión-----------------------------------*/
.divLogin{
	background: #FFFFFF;
	width : 400px;
	height : 200px;
	margin: 0 auto;
	margin-top : 128px;
	margin-bottom : 30px;
	padding-top: 40px;
	border-style:solid;
	border-width:1px;
	border-color: #BFBFBF;
	text-align : center;
}

.divLogin span{
	height: 20px;
	float : left;
	margin-top : 20px;
	margin-botom : 20px;
	margin-left : 32px;	
	font-size: 1.2em;	
}
.divLogin input[type="text"], input[type="password"]{
	height: 20px;
	float:right;
	width : 192px;
	padding : 0px;
	margin-top : 20px;
	margin-right : 32px;
	font-family: Lucida Grande, Lucida Sans, Arial;
	font-size: 1.2em;	
}

.divLogin .loginButtons{
	clear : both;
	margin: 0 auto;
	margin-top: 40px;
	width : 400px;
}

.divLogin input[type="button"]{
	margin-left : 10px;
	margin-bottom : 20px;
	margin-top : 20px;
	width : 96px;
}

#invalidUser{
	margin-top : 20px;
	height : 20px;
	clear: both;
	color : red;
	display : none;
}


/*---------------------Div de manipulación de registros-----------------------------------*/
.divActions{
	background: #FFFFFF;
	width : 576px;
	margin: 0 auto;
	margin-bottom : 30px;
	border-style:solid;
	border-width:1px;
	border-color: #BFBFBF;
}
.divCRUDRecords span{
	float : left;
	margin-top : 20px;
	margin-botom : 20px;
	margin-left : 96px;	
}

.divActions input[type="text"]{
	float:right;
	width : 256px;
	margin-top : 20px;
	margin-right : 96px;
	font-family: Lucida Grande, Lucida Sans, Arial;
	font-size: 1em;	
}

.divCRUDButtons{
	margin-top : 50px;
	clear : both;
	text-align : center;
}

.divActions button{
	clear : both;
	margin-left : 10px;
	margin-bottom : 20px;
	width : 96px;
}

/*-------------------------------Div de  de ingreso de datos-----------------------------*/

.divDataForm{
	background: #FFFFFF;
	width : 576px;
	height : 320px;
	margin: 0 auto;
	border-style:solid;
	border-width:1px;
	border-color: #BFBFBF;
}

.divDataForm span{
	float : left;
	height : 20px;
	margin-top : 20px;
	margin-left : 96px;
	margin-botom : 20px;
	
}

.divDataForm input[type="text"]{
	height : 20px;
	float:right;
	width : 256px;
	margin-top : 20px;
	margin-right : 96px;
	font-family: Lucida Grande, Lucida Sans, Arial;
	font-size: 1em;	
}

.divDataForm textArea{
	float:right;
	width : 256px;
	margin-right : 96px;
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: Lucida Grande, Lucida Sans, Arial;
	font-size: 1em;	
	resize : none;
}




